In [1]:
#for loop
#while loop

In [2]:
range #creates sequences of no
range(5) #0 1 2 3 4
range(1,5) #1,2,3,4
range(1,5,2)#1,3

range

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,5):
    print(i)

1
2
3
4

In [5]:
for i in range(1,5,2):
    print(i)

1
3

In [8]:
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [9]:
for i in range(1,11):
    print(i*7)

7
14
21
28
35
42
49
56
63
70

In [10]:
x = int(input("Enter the value of x:"))
for i in range(1,11):
    print(x,"*",i,"=",i*x)

Enter the value of x: 10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [11]:
xyz=0
for i in range(5):
    x = int(input("Enter the value of x:"))
    xyz = xyz + x
    print(xyz)

Enter the value of x: 1000

1000

Enter the value of x: 1000

2000

Enter the value of x: 1000

3000

Enter the value of x: 1000

4000

Enter the value of x: 1000

5000

In [12]:
xyz=0
for i in range(5):
    x = int(input("Enter the value of x:"))
    xyz = xyz + x
print(xyz)

Enter the value of x: 2000
Enter the value of x: 3000
Enter the value of x: 4000
Enter the value of x: 1000
Enter the value of x: 1000

11000

In [14]:
xyz = str()
for i in range(5):
    x = input("Enter the value of x:")
    xyz = xyz + x + "\n"
print(xyz)

Enter the value of x: ram
Enter the value of x: shyam
Enter the value of x: hari
Enter the value of x: gita
Enter the value of x: rita

ram
shyam
hari
gita
rita

In [15]:
xyz = str()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter the value of x:")
    xyz = xyz + x + "\n"
print(xyz)

Enter n =  3
Enter the value of x: ram
Enter the value of x: shyam
Enter the value of x: hari

ram
shyam
hari

In [16]:
contact = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    contact = name + " " + str(phone) + "\n"
print(contact)

Enter n =  3
Enter name =  ram
Enter phone =  123
Enter name =  shyam
Enter phone =  321
Enter name =  hari
Enter phone =  456

hari 456

In [19]:
contact = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    contact = contact + name + " " + str(phone) + "\n"
print(contact)

Enter n =  2
Enter name =  ram
Enter phone =  321
Enter name =  shyam
Enter phone =  123

ram 321
shyam 123

In [20]:
#facrotial num
#n! = n*(n-1)*(n-2)*(n-3)*..............
#5! = 5*4*3*2*1

In [21]:
fac = 1
n = int(input("enter the value of n="))
for i in range(1,n+1):
    fac = fac*i
    print(fac)

enter the value of n= 5

1
2
6
24
120